# Breve guia sobre manipulação de ``dataframe``.
## I. Excluindo colunas
### 1. Excluindo por nome.

In [ ]:
del df_gastos['Unnamed: 8']  # excluindo coluna

### 2. Excluindo por nome mais de uma coluna.

In [ ]:
columns = ['Col1', 'Col2', ...] df.drop(columns, inplace=True, axis=1)

### 3. Excluindo por índice.

In [ ]:
df.drop(df.columns[[0]], axis=1, inplace=True)

## II. Renomeando

In [ ]:
new_columns = ['col A','col B','col C','col D', '...', 'col n']    # lista com os nomes novos

df.columns = new_columns         # atribuindo os nomes 
df.head()                # vendo resultado

### Dicas - metodologia EDA

* 1º Passo\
Agrupar cada coluna para ver as dimensionalidades, e suas quantidades.

In [ ]:
agrupado = dataset.groupby(['Genero']).size()
agrupado

* 2º Passo\
Análise estatística, visão geral.

In [ ]:
df.describe(include = "all")

<hr>

In [ ]:
import seaborn as sns
sns.boxplot(df_gastos['ValorSubtotal']).set_title('Valor Total')

### Análises obtidas do ``df`` controle de gastos

O que foi feito:

* 1. Mudar o tipo da variável: '9,67' -> '9.67' - de str para float
* 2. Excluir uma coluna que veio com todos os valores vazios (NaN)
* 3. Descobrir qual é a linha na qual aparece o 1º valor NaN
* 4. Agrupar o dataframe por data (tentar pivotear)

<hr>

### Descobrindo qual a primeira linha cujo primeiro valor seja diferente de NaN.

# ?