# Monitoria **Estatística e Probabilidade Aplicada**
Monitor: ``Brandon Aguiar``

<center>
    <img src="https://portal.anhembi.br/wp-content/uploads/2016/04/anhembi-morumbi-300x73.png" width="300" alt="Error 404"  />
</center>

## Resolução dos exercícios (9) (10) e (11)
Tempo estimado: **45** minutos
<hr>

<center>
    <img src='https://64.media.tumblr.com/e21b9790960cc02a51e4a3bb95df0524/90542c5773820da2-47/s640x960/7aeeb11bdf051a9cc60d5a0f22def7324bcd7afb.png' width=700></center>

<h2>Tabela de conteúdos</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#resol">Resolução dos exercícios</a>
            <ul>
                <li><a href="unit">UNIT 1 Introdução à Estatística (05/05/21)</a></li>
                <li><a href="concept">Conceito de população x amostra | Técnicas de amostragem</a></li>
            </ul>
        </li>
    </ul>

</div>

<hr>

## Exercícios

**Antes, um reparo**: os exercícios de **1)** a **8)** não nos interesssam. Abordam fundamentos elementares. Isto significa que partiremos do pressuposto - nesta resolução -  de que o estudante já está familiarizado com os conceitos básicos.

**9)** O diretor de uma escola, na qual estão matriculados 280 meninos e 320 meninas, desejoso de conhecer as condições de vida extra-escolar de seus alunos e não dispondo de tempo para entrevistar todas as famílias, resolve fazer um levantamento por amostragem, em 10% dessa clientela. Obtenha, para esse diretor, os elementos componentes da amostra.

``breve teórico``

In [1]:
# Importando as biliotecas necessárias

import pandas as pd      # manipulação de 'tabelas'

A resolução desse exercício é 'do tipo' da tabela abaixo. Apenas alterando os valores.

In [2]:
# criando a tabela exemplo da página 11 - introdução à estatística 

dados = {'Sexo' : ['M', 'F', 'Total'],
            'População' : [54, 36, 90],
            '10%' : [5.4, 3.6, 9],
            'Amostra' : [5, 4, 9] }  # atribui o dicionário a variável 'dados_v9'

Esse processo consiste em duas etapas: criar a "lista" (que na verdade é um dicionário) com os nossos dados, em seguida, fazer a 'leitura' destes dados incorporando-os em um dataframe.
1. Criamos o dicionário na linha acima e, abaixo, criaremos o dataframe.

In [3]:
# cria um datafram a partir dos dados do dicionário que criamos

df_dados = pd.DataFrame(data = dados)

df_dados   # visualiza o dataframe

    Sexo  População  10%  Amostra
0      M         54  5.4        5
1      F         36  3.6        4
2  Total         90  9.0        9

* Porém, para facilitar nossa vida, iremos retrabalhar a maneira como criamos as tabelas. Com qual objetivo? Com o objetivo de facilitar os cálculos. Afinal, é pra isso que viemos. É por isso estamos aqui reunidos.
* Perceba só, as colunas ``Sexo`` e ``População`` são dados do exercício. As colunas ``10%`` e ``Amostra`` são resultados de cálculos obtidos. Portanto, iremos imputar os dados fornecidos pelo exercício, e todo o resto será calculado automaticamente.
* Por último, criaremos essa linha ``Total`` - também resultado de um cálculo feito - como se fosse um 'somar' do excel.

**Reescrevendo** o ``dataframe`` conforme descrito acima.

**1. Imputando os dados fornecidos pelo exercício.**

In [4]:
# cria dicionário de valores e atribui na variável 'dados'

dados = {'Sexo' : ['M','F'], 'População' : [54,36] } 

# cria dataframe a partir do dicinario 'dados' e atribui na variável 'df_dados' 

df_dados = pd.DataFrame(data = dados)

df_dados   # esse código sozinho permite visualizar o dataframe 'df_dados' criado

  Sexo  População
0    M         54
1    F         36

**2. Criando as colunas: ``10%``, ``Amostra``.**

Coluna ``10%``

In [5]:
# cria a coluna '10%', calcula 10% de cada valor da coluna 'população' e atribui na coluna criada 

df_dados['10%'] = df_dados['População']*0.1

df_dados    # visualiza o dataframe

  Sexo  População  10%
0    M         54  5.4
1    F         36  3.6

Coluna ``Amostra``

In [6]:
# cria a coluna 'Amostra', calcula o arredondamento de cada valor da coluna '10%' e atribui na coluna criada

df_dados['Amostra'] = df_dados['10%'].round(0)

df_dados    # visualiza o dataframe

  Sexo  População  10%  Amostra
0    M         54  5.4      5.0
1    F         36  3.6      4.0

**3. ``Criando uma linha``. Atribuiremos uma linha a um ``índice`` específico usando o método ``loc``.**

In [7]:
# cria uma linha na posição de índice '2', atribui a lista para linha criada

df_dados.loc[2] = ['Total', 0, 0, 0]  # esse código é reponsável por criar a linha

df_dados   # visualiza o dataframe

    Sexo  População  10%  Amostra
0      M         54  5.4      5.0
1      F         36  3.6      4.0
2  Total          0  0.0      0.0

* Nossa estratégia consistirá em **guardar** o **valor** dos cálculos que vamos fazer em **variáveis**. Para depois, substituirmos as variáveis no lugar dos '0'. Que foram criados nessa linha nova.

Soma coluna ``População``

In [8]:
# soma os valores da coluna 'População' e atribui na variavel 'soma_populacao'

soma_populacao = df_dados['População'].sum()   # calcula a soma e atribui na variável 'soma_populacao'

soma_populacao   # visualiza o resultado guardado na variável

90

Soma coluna ``10%``

In [9]:
# para a coluna '10%' precisaremos arredondar o valor e depois somá-lo

soma_10 = df_dados['10%'].round().sum()   # calcula a soma e atribui na variavel 'soma_10'

soma_10   # visualiza o resultado guardado na variável

9.0

Soma coluna ``Amostra``

In [10]:
# como a coluna 'Amostra' já foi arredondada, basta nós somarmos

soma_amostra = df_dados['Amostra'].sum()   # calcula a soma e atribui na variavel 'soma_10'

soma_amostra   # visualiza o resultado guardado na variável

9.0

* Agora, vamos copiar aquela linha de código que cria a linha nova e substituir pelas variáveis que calculamos logo acima. Em seguida, visualizar o resultado e torcer pra dar certo.

In [11]:
# trocando os valores conforme descrito acima

df_dados.loc[2] = ['Total', soma_populacao, soma_10, soma_amostra]

df_dados   # visualiza o dataframe

    Sexo  População  10%  Amostra
0      M         54  5.4      5.0
1      F         36  3.6      4.0
2  Total         90  9.0      9.0

<hr/>
    <div class="alert alert-success alertsuccess" style="margin-top: 20px">
        <h4> [Aviso] Importante! </h4>
        <p>Este exercício foi extremamente comentado. Portanto, estude-o bem. Porque a resolução dos próximos exercícios toma por pressuposto o estudante estar familiarizado com tudo que foi abordado acima.</p>
    </div>
<hr/>

Página 23 - *01-introdução-a-estatística.pdf*

``resolução``

Copiando o enunciado para facilitar a didática

**9)** O diretor de uma escola, na qual estão matriculados 280 meninos e 320 meninas, desejoso de conhecer as condições de vida extra-escolar de seus alunos e não dispondo de tempo para entrevistar todas as famílias, resolve fazer um levantamento por amostragem, em 10% dessa clientela. Obtenha, para esse diretor, os elementos componentes da amostra.

**1. Passo** Vamos criar o dicionário e dataframe com os valores fornecidos pelo exercício.

In [12]:
# cria dicionário e atribui na variável 'dados'

dados = {'Sexo' : ['meninos', 'meninas'], 'População' : [280, 320]}  #  (ESSA 1/ valores do exercício)

df_dados = pd.DataFrame(data = dados)    # cria o 'dataframe'

df_dados   # visualiza o dataframe

      Sexo  População
0  meninos        280
1  meninas        320

**2. Passo** Calcularemos tudo que precisa e imputaremos esses resultados no ``dataframe``. **Pronto, resolvemos o exercício.**

In [13]:
# criando as colunas

df_dados['10%'] = df_dados['População']*0.1   # cria a coluna 10% do exercício (ESSA 2/ valor de 0.1)

df_dados['Amostra'] = df_dados['10%'].round(0)   # cria a coluna 'Amostra' e arredonda os números da coluna '10%'


# fazendo os cálculos das variáveis

soma_populacao = df_dados['População'].sum()  # soma a coluna 'População' e atribui na variável 'soma_populacao'

soma_10 = df_dados['10%'].round().sum()  # soma a coluna '10%' e atribui na variável 'soma_10'

soma_amostra = df_dados['Amostra'].sum()    # soma a coluna 'Amostra' e atribui na variável 'soma_amostra'


# criando a linha nova 'Total' com os resultados obtidos

df_dados.loc[2] = ['Total', soma_populacao, soma_10, soma_amostra]  # cria a linha com os valores calculados

df_dados    # visualiza o dataframe

      Sexo  População   10%  Amostra
0  meninos        280  28.0     28.0
1  meninas        320  32.0     32.0
2    Total        600  60.0     60.0

**Conclusão**: Apenas alterando as linhas que contém (ESSA 1) e (ESSA 2), podemos resolver o exercício. De acordo com o que for solicitado como resposta pelo exercício.


**Resposta**: 28 meninos e 32 meninas.

Página 23 - *01-introdução-a-estatística.pdf*

**10)** Em uma escola existem 250 alunos, distribuídos conforme quadro. Obtenha uma amostra proporcional estratificada de 40 alunos.

In [20]:
# criando a tabela fornecida pelo exercício

dados = {'Séries':['1a', '2a', '3a', '4a', '5a', '6a', '7a', '8a'],
        'Número de alunos':[35, 32, 30, 28, 35, 32, 31, 27],
        'AMOSTRA':[0,0,0,0,0,0,0,0]}

df_dados = pd.DataFrame(data = dados)  # cria o df

df_dados.loc[8] = ['Total', 250, 40]  # adiciona aquela linha 'Total' tipo excel

df_dados  # visualiza o df

  Séries  Número de alunos  AMOSTRA
0     1a                35        0
1     2a                32        0
2     3a                30        0
3     4a                28        0
4     5a                35        0
5     6a                32        0
6     7a                31        0
7     8a                27        0
8  Total               250       40

Observe o *exemplo* de resolução na página 11. Utilizaremos a mesma metodologia.

``resolução``

* Criaremos uma coluna 'Porcentagem' contendo os valores de porcentagem que cada dado representa como parte de um todo.
* Faremos o seguinte cálculo: a porcentagem calculada anteriormente x 40 (Total da AMOSTRA) - fornecido pelo ex.

In [24]:
# cria a coluna, faz a conta dividindo cada elemento da coluna 'Número de alunos' por 250 e atribui na coluna 'Porcentagem'

df_dados['Porcentagem'] = df_dados['Número de alunos'].apply(lambda x: x/250)

df_dados  # viz df

  Séries  Número de alunos  AMOSTRA  Porcentagem
0     1a                35        0        0.140
1     2a                32        0        0.128
2     3a                30        0        0.120
3     4a                28        0        0.112
4     5a                35        0        0.140
5     6a                32        0        0.128
6     7a                31        0        0.124
7     8a                27        0        0.108
8  Total               250       40        1.000

In [28]:
# atribui para todos os elementos na coluna 'AMOSTRA' o resultado da porcentagem x 40

df_dados['AMOSTRA'] = (df_dados['Porcentagem']*40).round()

df_dados  # viz df

  Séries  Número de alunos  AMOSTRA  Porcentagem
0     1a                35      6.0        0.140
1     2a                32      5.0        0.128
2     3a                30      5.0        0.120
3     4a                28      4.0        0.112
4     5a                35      6.0        0.140
5     6a                32      5.0        0.128
6     7a                31      5.0        0.124
7     8a                27      4.0        0.108
8  Total               250     40.0        1.000

**Resposta**: Cada valor na coluna AMOSTRA, que foi preenchido é a resposta.

Página 23 - *01-introdução-a-estatística.pdf*

**11)** Uma cidade X apresenta o seguinte quadro relativo às suas escolas de Ensino Fundamental. Obtenha uma amostra proporcional estratificada de 120 estudantes.

In [67]:
# criando a tabela fornecida pelo exercício (metodologia diferente: dataframe MultiIndex)

lista_colunas = [['Número de estudantes','Número de estudantes','Amostra','Amostra'],
                   ['Masculino','Feminino','Masc.','Fem.']]

tuplas = zip(*lista_colunas) # faz da lista uma tupla

multi = pd.MultiIndex.from_tuples(tuplas) # atribui à variável 'multi' nossa lista multi-índice

# criando nosso conjunto de dados, repare na forma como ele é criado

dados = [[80, 95, 0, 0],
         [102, 120, 0, 0],
         [110, 92, 0, 0],
         [134, 228, 0, 0],
         [150, 130, 0, 0],
         [300, 290, 0, 0],
         [876, 955, 0, 0]]   # listas dentro de listas

lista_indices = ['A', 'B', 'C', 'D', 'E', 'F', 'Total']  # cria lista com índices para utilizarmos no dataframe

df_dados = pd.DataFrame(data = dados, index = lista_indices, columns = multi)   # cria o dataframe

df_dados.index.names = ['Escolas']   # dando nome à coluna que contém nossos índices

df_dados  # visualiza o dataframe

        Número de estudantes          Amostra
                   Masculino Feminino   Masc. Fem.
Escolas
A                         80       95       0    0
B                        102      120       0    0
C                        110       92       0    0
D                        134      228       0    0
E                        150      130       0    0
F                        300      290       0    0
Total                    876      955       0    0

``resolução``

* Como nossa objetivo é chegar num total de amostragem de 120 indivíduos, mas temos dois sexos, isto é, masculino e feminino, precisamos dividir por 2 nossa intenção de amostragem.
* Vamos, portanto, utilizar o valor de 60 para fazermos a conta e calcular quanto estudantes teremos de cada sexo para fins de amostragem.

Uma maneira de visualizar o nome das colunas é utilizando a *função* ``.columns``. Isso ajuda a entender como selecionarmos uma determinada coluna. Refiro-me a termos de sintaxe.

In [80]:
df_dados.columns   # exibindo o nome das colunas

MultiIndex([('Número de estudantes', 'Masculino'),
            ('Número de estudantes',  'Feminino'),
            (             'Amostra',     'Masc.'),
            (             'Amostra',      'Fem.')],
           )

* Fazendo a conta inteira e atribuindo cada resultado na coluna ``Masc.`` de ``Amostra``.

In [108]:
df_dados['Amostra', 'Masc.'] = ((df_dados['Número de estudantes', 'Masculino']/876)*55).round()

df_dados  # viz df

        Número de estudantes          Amostra
                   Masculino Feminino   Masc. Fem.
Escolas
A                         80       95     5.0    0
B                        102      120     6.0    0
C                        110       92     7.0    0
D                        134      228     8.0    0
E                        150      130     9.0    0
F                        300      290    19.0    0
Total                    876      955    55.0    0

* Fazendo a mesma coisa agora, porém, para coluna ``Fem.`` de ``Amostra``.

In [109]:
df_dados['Amostra', 'Fem.'] = ((df_dados['Número de estudantes', 'Feminino']/955)*65).round()

df_dados  # viz df

        Número de estudantes          Amostra
                   Masculino Feminino   Masc.  Fem.
Escolas
A                         80       95     5.0   6.0
B                        102      120     6.0   8.0
C                        110       92     7.0   6.0
D                        134      228     8.0  16.0
E                        150      130     9.0   9.0
F                        300      290    19.0  20.0
Total                    876      955    55.0  65.0

**Conclusão**: Perceba como cada vez mais estamos resolvendo os exercícios em poucas linhas de código.

**Resposta**: Os valores contidos as colunas ``Masc.`` e ``Fem.``

[<< download do notebook completo >>](https://drive.google.com/file/d/1-A5_x5CXZ8m-JNZPBXinyeW-VxJpne_s/view?usp=sharing)

<center>
        
    << Faremos uma pausa nas resoluções por enquanto.
      Para darmos andamento nas outras matérias >>
 
</center>

## Author

<a href="https://www.linkedin.com/in/brndnaxr/" target="_blank">Brandon Aguiar</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                                                                                                     |
| ----------------- | ------- | ---------- | ---------------------------------------------------------------------------------------------------------------------- |
|       |     |     |                                                                                     |

<hr/>

## <h3 align="center"> © UAM Monitoria 2021. All rights reserved. <h3/>